<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div align="center">
    <h2>PAGINA PRINCIPAL INTEGRACION MERCADO PAGO</h2>
    <img src="{% static '/img/logoMercadoPago.jpg' %}" >
    <div align="center">
         <button onclick="siguiente()" class="btn btn-primary">Siguiente</button>
    </div>

</div>
<script>
    function siguiente(){
    console.log("entra")
        window.location='/mercadopago/carrito'
    }
</script>

</body>
</html>